<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="Logs" />
      </logger>
    </ipp>
  </intuit>
 <appSettings>
    <!--Enter the values below. -->
     <add key="AccessToken" value="lvprdkaZ640AHLLAPAxYqCZBZ9msyD4paolU5lonI7BYgBFP" />
    <add key="AccessTokenSecret" value="eXCFVKtaWVchVe1bEEDPLv0cwGGuybpa3KHGM78w" />
    <add key="ConsumerKey" value="qyprd6WLezBns0nZIlOkDIRtTNal80" />
    <add key="ConsumerSecret" value="hjK3xE26YnlwAeZPGy0A8YxHslbQ7uLj6IuWwtFW" />
      <add key="RealmID" value="193514493219874" />
  </appSettings>
</configuration>